<header class="main-header">
	<a href="/" class="logo"> <span class="logo-mini"> <img src="images/cirrus-logic_white.svg" height=30px> </span>  <span class="logo-lg"> <img src="images/cirrus-logic_white.svg" height=30px> </span> 
	</a>
	<nav class="navbar navbar-static-top" role="navigation">
		<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"> <span class="sr-only">Toggle navigation</span> 
		</a>
	</nav>
</header>

<aside class="main-sidebar">
	<section class="sidebar">
		<ul class="sidebar-menu">
			        <li id="tab-avs-config">
                        <a href="/avs-config"> <i class="fa fa-amazon"></i>  <span>AVS Controls </span> 
                        </a>
                    </li>
					<li id="tab-networkSettings">
						<a href="/network-properties"> <i class="fa fa-wifi"></i>  <span>WiFi Config</span> 
						</a>
					</li>
					<li id="tab-dspSettings">
						<a href="/dsp-properties"> <i class="fa fa-wrench"></i>  <span>DUET Config</span> 
						</a>
					</li>
		</ul>
	</section>
</aside>

<div class="content-wrapper">
